// this is an attendance app style file for a univertisy with colors (red, white ans yellow and black in the badge)
$primary-color: #FF0000; // Red
$secondary-color: #FFFF00; // Yellow
$background-color: #FFFFFF; // White
$text-color: #000000; // Black
$black-bg: #000000; // Black
