// this is an attendance app style file for a univertisy with colors (red, white ans yellow and black in the badge)
// $primary-color: #FF0000; // Red
//$secondary-color: #FFFF00; // Yellow
// $background-color: #FFFFFF; // White
// $text-color: #000000; // Bla
@use 'variables' as *;
body {
    font-family: Arial, sans-serif;
    background-color: $background-color; 
    color: $text-color; 
    margin: 0;
    padding: 0;
}
nav {
    background-color: $black-bg;
    color: rgb(255, 255, 255);
    padding: 1rem;
    justify-content: space-between;
    display: flex;
    box-shadow: 0 3px 5px $secondary-color;
    p{
        font-weight: bold;
        font-size: 1.2rem;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
        li {
            padding: 0.5rem 1rem;
            background-color: $secondary-color;
            border-radius: 10px;
            border: 1px solid #000000; 
            
            a {
                color: #000000; // white links
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}